* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

header {
  position: absolute;
  top: 32px;
  left: 0px;
  right: 0px;
  height: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 160px;
  margin-right: 160px;
}

header a {
  margin-right: 32px;
  font-size: 24px;
  color: white;
  text-decoration: none;
  flex-direction: row;
}

.logo {
  width: 64px;
  height: 64px;
  padding-left: 200px;
}

.phone_number {
  font-family: "Open Sans", sans-serif;
  padding: 0px;
  padding-right: 5px;
  margin-right: 0px;
}


.phone_logo {
  width: 24px;
  height: 24px;
  padding: 5px;
}

.phone_button {
  background-color: #9F0908;
  border-radius: 10px;
  border: 2px solid #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.phone_button:hover {
  background-color: #c70b0b;
}

.top_menu {
  display: flex;
  flex-direction: row;
  margin-right: 150px;
  align-items: center;
}

.top_container {
  top: 0px;
  right: 0px;
  left: 0px;
  height: 60vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 96px !important;
  font-weight: bold !important;
  padding: 0px;
  background-image: url(img/atf/hero_bg.jpg);
  background-size: cover;
  background-position: bottom;
  margin-bottom: 120px;
  height: 100vh;
}

#top_paragraph {
  font-size: 40px;
  font-weight: normal;
  margin-top: 0px;
}

.order-headline {
  font-size: 80px;
  display: flex;
  justify-content: center;
  color: #9F0908;
  margin-bottom: 64px;
  font-weight: bold;
  margin-top: 120px;
}

.how_to_order {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin-bottom: 120px;
  padding-left: 160px;
  padding-right: 160px;
}

.order-step {
  text-align: center;
}

.how_to_order img {
  width: 128px;
  height: 128px;
  margin-bottom: 16px;
}

.how_to_order_text {
  font-size: 56px;
  font-family: "Economica", system-ui;
  font-weight: 700;
  font-style: normal;
  width: 280px;
  margin-top: 0px;
}


.our_menu {
  background-image: url(img/our_menu/background/section_our_menu_bg.jpg);
  padding-top: 120px;
  padding-bottom: 120px;
  margin-bottom: 120px;
  background-size: cover;
  padding-left: 250px;
  padding-right: 250px;
  font-weight: bold;
  font-size: 32px;
  color: #675E54;
}

.our_menu h2{
  color: #9F0908;
  font-size: 80px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}

.our_menu img{
  width: 352px;
  height: 352px;
}

.our_menu p{
  font-size: 56px;
  font-family: "Economica", system-ui;
  font-weight: bold;
  color: black;
}

.menu_dish_left img{
  margin-right: 80px;
}

.menu_dish_left {
  display: flex;
  justify-content: flex-start;
}

.menu_dish_right {
  padding-top: 56px;
  padding-bottom: 56px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.menu_dish_right img{
  margin-left: 80px;
}

.menu_price{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  width: 40%;
}

table {
  border-spacing: 8px;
}

.menu_cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.find_us h2{
  color: #9F0908;
  font-size: 80px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.address {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-size: 24px;
  margin-bottom: 64px;
}

iframe {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50vh;
}

footer {
  background-color: black;
  padding-left: 160px;
  padding-right: 160px;
  height: 144px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}